<h1>
    Listando usuários
</h1>
{{#data}}
    <hr>
    {{{name}}} |
        <b>
            <a href="{{{url}}}/@{{{keyTec}}}">{{{keyTec}}}</a>
        </b> |
    turno: {{{shift}}} | turma: {{{class}}} | ranking: {{{ranking}}} | multa: {{{debit}}} | D$: {{{cash}}} |
     <a href="{{{url}}}/allusers/del@{{{keyTec}}}" onclick="if(confirm('ctz?'))return true; return false" target="_blank">DEL</a> |
     <a href="{{{url}}}/allusers/edit@{{{keyTec}}}" onclick="if(confirm('ctz?'))return true; return false" target="_blank">EDIT</a>
{{/data}}