<h1>
    Listando usuários
</h1>
{{#data}}
    <hr>
    {{{name}}} |
        <b>
            <a href="{{{url}}}/@{{{keyTec}}}">{{{keyTec}}}</a>
        </b> |
    turno: {{{shift}}} | turma: {{{class}}} | ranking: {{{ranking}}} | multa: {{{debit}}} | D$: {{{cash}}}
{{/data}}   