{{#if admin}}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    function del (id){
        if(confirm('ctz?')){
            axios.delete(`/reserve/?id=${id}`)
                .then(function (response) {
                    alert('Excluído com sucesso.')
                    location.reload()
                })
                .catch(function (error) {
                    alert('Aconteceu algum erro.')
                    console.log(error);
                });
        }
        return false
    }
</script>

{{/if}}


  <div class="container">
        <h1>Reserva Nacional</h1>
        <p>Itens da Reserva Nacional do Dinheirus, total: {{formataValor total 'BRL'}}</p>
        <hr>
        {{#if admin}}
            {{#if msg}}
                <div class="w3-panel w3-orange w3-leftbar w3-rightbar w3-border-purple">
                <h3>Ops!</h3>
                <p>{{{msg}}}</p>
                </div> 
            {{/if}}
            <form action="{{{url}}}/reserve" method="post">
            <label class="w3-text-black" for="name"><b>Nome do Item</b></label><br>
            <input class="w3-input w3-border"  maxlength="80" minlength="2" type="text" name="name" required ><br>

            <label class="w3-text-black" for="valor"><b>Valor do Item</b></label><br>
            <input class="w3-input w3-border" maxlength="8"  minlength="2" type="number" name="valor" required ><br>

            <label class="w3-text-black" for="state"><b>Estado do Item</b></label><br>
            <select class="w3-select w3-border" name="state" id="state">
                <option value="1">Novo</option>
                <option value="0">Usado</option>
            </select><br><br>

                <hr>

            <button type="submit" class="w3-button w3-block w3-black w3-large w3-hover-dark-gray">Cadastrar Item</button>
  
            </form>
        {{/if}}
        </div>
        <div class="w3-container">
            <h2>Itens:</h2>

            <table class="w3-table-all">
                    <tr>
                    <th>Item</th>
                    <th>Valor</th>
                    <th>Estado</th>
                    {{#if admin}}
                    <th>Excluir</th>
                    {{/if}}
                    </tr>
                {{#data}}
                    <tr>
                    <td>{{{name}}}</td>
                    <td>{{{formataValor value 'BRL'}}}</td>
                    <td>{{#if new}} Novo {{else}} Usado {{/if}} </td>
                    {{#if ../admin}}
                    <td>
                        <button class="w3-button w3-pale-red" onclick="del({{id}})">
                            Excluir
                        </button>
                    </td>
                    {{/if}}
                    </tr>
                {{/data}}
            </table>
        </div>
    </div>