<p>
    Olá esse é o perfil de <b><span{{#if itsme}} onblur="salva()" id="name" contenteditable="true" {{/if}}>{{{name}}}</span></b>, seja bem vind@!
</p>
    <p>Chave TeC : 
        <b>
            {{{keyTec}}}
        </b>
        <span class="w3-tooltip"> <span class="w3-badge ">?</span><span class="w3-text w3-tag w3-animate-opacity">A chave  TeC é semelhante à chave PIX, só que no Ecosistema do Dinheirus.</span></span>
    </p>
    <p>Ranking: <b>{{{elo ranking}}}</b>
    </p>
    {{#if itsme}} <p>Saldo: {{{cash}}}</p>{{/if}}
    <p>bio: <br> 
        <span{{#if itsme}} onblur="salva()" id="bio"  contenteditable="true" {{/if}}>
            {{{profile.bio}}}
        </span>
    </p>
    {{#if itsme}} 

    <p>
        <button id="save" class="w3-pale-green w3-button " disabled>
            Salvar alterações
        </button>
    </p>
    <script>
        async function salva(){
            let bio = document.getElementById('bio').textContent
            let name = document.getElementById('name').textContent
            let btn = document.getElementById('save')
            btn.disabled = false;
         
        }
    </script>
    {{/if}}