
<div class="w3-card-4">

    <header class="w3-container w3-light-grey">
    <h3><b><span{{#if itsme}} onblur="salva()" id="name" contenteditable="true" {{/if}}>{{{name}}}</span></b></h3>
    </header>

        <div class="w3-tag w3-round {{{corElo ranking}}} " style="padding:3px; margin-left: 15px">
            <div class="w3-tag w3-round-xxlarge {{{corElo ranking}}} w3-border w3-border-white">
                {{{elo ranking}}} {{#if itsme}} ( {{{ranking}}} ){{/if}}
            </div>
        </div>
    <div class="w3-container">
        <p>Chave TeC :
            <b>
                {{{keyTec}}}
            </b>
            <span class="w3-tooltip"> 
                <span class="w3-badge ">?</span>
                <span class="w3-text w3-tag w3-animate-opacity">
                    A chave  TeC é semelhante à chave PIX, só que no Ecosistema do Dinheirus.
                </span>
            </span>
        </p>
        <hr>
        <img src="{{{url}}}/images/avatar.png" alt="Avatar" class="w3-left w3-margin-bottom w3-margin-right w3-circle"  style="width:60px" >
            <p>        
                <span{{#if itsme}} onblur="salva()" id="bio"  contenteditable="true" {{/if}}>
                        {{{profile.bio}}}
                </span>
            </p>
    </div>
    {{#if itsme}} 

    <p>
        <button id="save" class="w3-pale-green w3-button " disabled>
            Salvar alterações
        </button>
    </p>
    <script>
        async function salva(){
            let bio = document.getElementById('bio').textContent
            let name = document.getElementById('name').textContent
            let btn = document.getElementById('save')
            btn.disabled = false;
         
        }
    </script>

    {{else}}
        <button class="w3-button w3-block w3-dark-grey">+ Enviar Dinheirus</button>
    {{/if}}
</div>