<p>
    olá esse é o perfil de {{{name}}}, seja bem vind@!
</p>
    <p>Chave TeC :<b><a href="{{{url}}}/@{{{keyTec}}}">{{{keyTec}}}</a></b></p>
    <p>Ranking: {{{ranking}}}
    </p>
    <p>Saldo: {{{cash}}}</p>
    <p>bio: <br> {{{profile.bio}}}</p>
