<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{{url}}}/css/w3.css">
    <meta name="theme-color" content="#800080">
    <meta name="google-adsense-account" content="ca-pub-9477110145374768">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9477110145374768"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <meta name="description" content="Dinheirus é um sistema educacional para ensinar econômia  aos estudantes, usando um sistema econômico fictício. ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> {{{subtitle}}} | {{{title}}}</title>
    <link rel="icon" type="image/x-icon" href="{{{url}}}/favicon.ico">
    <style>
        .nav{
            font-size: larger !important;
        }
        body {font-family: "Lato", sans-serif}
        .mySlides {display: none}
        .centar{
            font-size: 110%;
        }
                /* width */
        ::-webkit-scrollbar {
        width: 3px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px black; 
        border-radius: 10px;
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: rgb(107, 10, 155); 
        border-radius: 10px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: rgb(107, 10, 155); 
        }
    </style>
</head>
<body class="w3-light-gray w3-monospace">
    {{>head}}
    <div class="w3-container w3-content w3-padding-64 centar w3-margin-bottom " >
        {{{body}}} 
    </div> 
    {{>footer}}
</body>
</html>