<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{{url}}}/css/w3.css">
    <meta name="theme-color" content="#800080">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <meta name="description" content="Dinheirus é um sistema educacional para ensinar econômia  aos estudantes, usando um sistema econômico fictício. ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> {{{subtitle}}} | {{{title}}}</title>
    <link rel="icon" type="image/x-icon" href="{{{url}}}/favicon.ico">
    <style>
        body {font-family: "Lato", sans-serif}
        .mySlides {display: none}
        .centar{
            font-size: 110%;
        }
    </style>
</head>
<body class="w3-light-gray w3-monospace">
    {{>head}}
    <div class="w3-container w3-content w3-padding-64 centar" >
        {{{body}}} 
    </div> 
    {{>footer}}
</body>
</html>